.news {
  padding: 5px;
  margin-top: 8px;
}


.news-img {
 max-width: 185px;
 max-height: 135px;
}

 @media    (min-width:200px) and (max-width:424px) {
   .news-img {
 max-width: 155px;
 max-height: 105px;
}

 }


.logoerol {
  width: 80px;
  margin-left: 8px;
}



.imgmodal {
  border-radius: 5px;
  border: 5px solid rgba(223, 220, 220, 0.411);
}


 @media      (max-width:540px) {
  .imgmodal {
    max-width: 350px;
  }
}

@media      (max-width:455px) {
  .imgmodal {
    max-width: 270px;
  }
}