.novodomurl {
 max-width: 185px;
 max-height: 135px;
  
}

.purl {
 max-width: 185px;
 max-height: 135px;
 margin: auto;
 padding: 0;
}




.news {
  padding: 5px;
  margin-top: 8px;
}


.news-img {
 max-width: 185px;
 max-height: 135px;
}


 @media    (min-width:200px) and (max-width:424px) {
   .news-img {
 max-width: 155px;
 max-height: 105px;
}
 .novodomurl {
 max-width: 155px;
 max-height: 105px;
}
  
.purl {
 max-width: 155px;
 max-height: 105px;
}
 }


.logoerol {
  width: 80px;
  height: 80px;
  margin-left: 8px;
  margin-left: 2px;
  margin-top: 12px;
}

@media    (min-width:200px) and (max-width:424px) {
    .logoerol {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  margin-right: 2px;
  align-items: center;
  margin-top: 12px;
}
}


.imgmodal {
  border-radius: 5px;
  border: 5px solid rgba(223, 220, 220, 0.411);
}


 @media      (max-width:540px) {
  .imgmodal {
    max-width: 350px;
  }
}

@media      (max-width:455px) {
  .imgmodal {
    max-width: 270px;
  }
}