 
 

.inserir {
 
background-color: rgba( 0, 0, 0, .7);
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: none;

}

.inserir-content {
  margin:  0 auto;
  margin-top: 3%;
  width: 500px;
  height: 300px;
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 0 0 2px white;
  display: flex;
  border-radius: 7px;
}

@media (max-width:542px){

  .inserir-content {
  margin:  0 auto;
  margin-top: 3%;
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 0 0 2px white;
  display: flex;
  border-radius: 7px;
}
}

.form-iframe {
  width: 100vw;
  height: 100vh;
}

 .btn {
  background-color: red;
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
   
 }


 .btn:hover {
  background-color: rgb(192, 49, 49);
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid rgb(247, 247, 247);
  width: 200px;
  height: 30px;
 }

 .btn:active {
  background-color: rgb(102, 6, 6);
  color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
 }

 

 