


* {
  margin: 0px;
  padding: 0px;
   
}

 
 
  /* main{
  border: red solid ;
   
  } */


 @media      (max-width:540px) {
  .imgmodal {
    max-width: 350px;
  }
}


@media (max-width:542px){

  .inserir-content {
  margin:  0 auto;
  margin-top: 3%;
  width: 400px;
  height: 300px;
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 0 0 2px white;
  display: flex;
  border-radius: 7px;
}
}



  

 .coluna01 , .coluna02 {
  display: flex;
  justify-content: center;
   
 }

 


 @media      (max-width:764px) {
  .coluna01 , .coluna02  {
    display:  grid;
     grid-template-columns: 1fr 1fr 1fr;
      
      }

 }


 @media      (max-width:612px) {
  .coluna01 , .coluna02  {
    display:  grid;
      
     grid-template-columns: 1fr 1fr;
     display: grid; place-items: center; 

 }
}

 
 
 footer {
  background: black;
  text-align: center;
  padding: 5px;
  color: white;
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
   
 }


 