h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  max-width: 206px;
  text-align: justify;
  margin: 7px;
   
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 35px;
   
}

.textoerol {
  
  display: flex;
  align-items: center;


  
   
 }


 